<!-- Authors: Ayan Ahmad (K19002255), Kevin Quah (k1921877), Jae Min An (k19034574), Daniela Stanciu (k1922053), Mihaela Peneva (k19026170) -->

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Admin Panel</a></li>
        <li class="breadcrumb-item"><a href="<%= account_admins_path %>">Manage Accounts</a></li>
        <li class="breadcrumb-item"><a href="#">Delete <%= @account.accname %></a></li>
    </ol>
</nav>

<div class="row mt-5">
    <div class="col-12">
        <div class="card ">
            <div class="card-header">
                <h2>Delete Account</h2>
            </div>
            <div class="card-body">
								<!-- An input form to delete an account -->
                <%= form_for(@account,:url => account_admin_path(@account) , :method => 'delete') do |f| %>

		<!-- Display the account number chosen to be deleted -->
    <p>Are you sure you want to delete this Bank Account with Number </p>
    <h3><%= @account.accnumber %> ?</h3>

    <div class="form-buttons">
      <%= f.submit "Yes, Delete this Account", class: 'btn btn-danger'  %>
    </div>

		<!-- A link to the index page -->
    <%= link_to("No, Take me back", account_admins_path, :class => 'btn btn-success') %>

  <% end %>
            </div>
        </div>
    </div>
</div>
