<!-- Authors: Ayan Ahmad (K19002255), Kevin Quah (k1921877), Jae Min An (k19034574), Daniela Stanciu (k1922053), Mihaela Peneva (k19026170) -->

<!-- Breadcrumb trail under header -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Admin Panel</a></li>
        <li class="breadcrumb-item"><a href="<%= user_admins_path %>">Manage Users</a></li>
        <li class="breadcrumb-item"><a href="#">New</a></li>
    </ol>
</nav>


<!-- Section: Content -->
<div class="row ">
    <div class="col-12">
        <div class="card ">

            <div class="card-header">
                <h2>Create User</h2>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 offset-3">
                        <h1 class='text-center'>New System User</h1>
                        <!-- Check for errors-->
                        <%= render 'error_user_admin' %>

                        <!-- The form for making a new user -->
                        <%= form_for(@user, :url => user_admins_path, :method => 'post') do |f| %>
                        <!-- Partial form with user text fields -->
                        <%= render(:partial=> 'form', :locals => {:f => f}) %>
                        <!-- Partial form with user password text fields -->
                        <%= render(:partial=> 'pass_form', :locals => {:f => f}) %>
                        <br>
                        <div class="form-buttons text-center">
                            <%= f.submit "Add User", class: 'btn btn-success' %>
                        </div>

                        <% end %>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>