<!-- Authors: Ayan Ahmad (K19002255), Kevin Quah (k1921877), Jae Min An (k19034574), Daniela Stanciu (k1922053), Mihaela Peneva (k19026170) -->

<!-- Breadcrumb trail under header -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Admin Panel</a></li>
        <li class="breadcrumb-item"><a href="<%= user_admins_path %>">Manage Users</a></li>
        <li class="breadcrumb-item"><a href="#">Password Change</a></li>
    </ol>
</nav>


<!-- Section: Content -->
<div class="row mt-5">
    <div class="col-12">
        <div class="card ">

            <div class="card-header">
                <h2>Update Password</h2>
            </div>

            <div class="card-body">
                <div class="users edit">
                    <h2>Update <%= @user.email  %> Password</h2>
                    <!-- Check for errors-->
                    <%= render 'error_user_admin' %>

                    <!-- The form for updating the user's password -->
                    <%= form_for(@user, :url => "/user_admin/#{@user.id}/edit_password_action") do |f| %>
                    <!-- Partial form with user password text fields -->
                    <%= render(:partial=> 'pass_form', :locals => {:f => f}) %>
                    <div class="form-buttons">
                        <%= f.submit "Update User", class: 'btn btn-warning'  %>
                    </div>

                    <% end %>
                </div>
            </div>

        </div>
    </div>
</div>