<!-- Authors: Ayan Ahmad (K19002255), Kevin Quah (k1921877), Jae Min An (k19034574), Daniela Stanciu (k1922053), Mihaela Peneva (k19026170) -->

<!-- Breadcrumb trail under header -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Admin Panel</a></li>
        <li class="breadcrumb-item"><a href="<%= currency_admins_path %>">Manage Currencies</a></li>
        <li class="breadcrumb-item"><a href="#">View</a></li>
    </ol>
</nav>


<!-- Section: Content -->
<div class="row mt-5">
    <div class="col-12">
        <div class="card ">

            <div class="card-header">
                <h2>View Currency</h2>
            </div>

            <div class="card-body">
                <div class="currencies show">
                    <!-- List details about this currency -->
                    <table class="table" summary="Currency detail view">
                        <tr>
                            <th>#</th>
                            <td><%= @currency.id %></td>
                        </tr>
                        <tr>
                            <th>Big Name</th>
                            <td><%= @currency.bigname %></td>
                        </tr>
                        <tr>
                            <th>Short Name</th>
                            <td><%= @currency.shortname %></td>
                        </tr>
                        <tr>
                            <th>Created</th>
                            <td><%= @currency.created_at %></td>
                        </tr>
                        <tr>
                            <th>Updated</th>
                            <td><%= @currency.updated_at %></td>
                        </tr>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>